/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
os_bot-*.tar

# Temporary files, for example, from tests.
/tmp/


# environment variables
.env
